<div class="row align-center mb-5">
  <div class="col-md-6 blog-post" data-id={{post.user_id}}>
      <h2>{{post.title}}</h2>
      <h3>made by {{post.user.name}} on {{post.createdAt}}</h3>
      <h3>{{post.content}}</h3>
  </div>
  {{#each post.comments as |comment|}}
  <div class="post-comment" data-id={{comment.id}}>
    <h3>{{comment.content}} by {{comment.user.name}} on {{comment.createdAt}}</h3>
  </div>
  {{/each}}
<form class="form comment-form" data-id={{post.id}}>
  <div class="form-group">
    <label for="comment-content">Comment:</label>
    <input class="form-input" type="text" id="comment-content"/>
  </div>
  <div class="form-group">
    <button class="btn btn-info add-comment">add comment</button>
  </div>
</form>
</div>
<script src="/js/blogPost.js"></script>